In [1]:
import pandas as pd

In [2]:
escolas = pd.read_csv("escolas.csv")
material_didatico = pd.read_csv("material_didatico.csv")

In [4]:
print(escolas.info())
print(material_didatico.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   Escolas_Postos  152 non-null    object
 2   BAIRRO          152 non-null    object
 3   ENDEREÇO        152 non-null    object
 4   lat             152 non-null    object
 5   lon             152 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   Quantidade  147 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB
None

### 1) tratamento material didático:

a) coluna Quantidade
    a.1) converter tipo coluna de objeto para inteiro
        - substituir NaN e None por 0
        - substituir '' e ' ' por 0
        - substituir 'NaN' por 0
        - converter valor numérico do tipo objeto para int

- OBS.: aplicar lower para todas as colunas

### 2) tratamento escolas:

a) coluna ENDEREÇO
    a.1) Normalizar dados
        - substituir R. por Rua
        - substituir Av. por Avenida
        - adicionar vírgula para o número do endereço
        - todas as strings devem estar em maiúsculo
        - strings não devem conter acentos
        - os ids da escola devem todos ser strings com 3 caracteres (Ex: '024')
        - separar logradouro e número do endereço

b) coluna BAIRRO
    b.1) Normalizar dados
        - strings não devem conter acentos
    

c) coluna Escolas_Postos
    c.1) Normalizar dados
        - nome das colunas em snake_case
        - strings não devem conter acentos
        - todas as strings devem estar em maiúsculo
    
    c.2) Criar coluna -> tipo de escola:
        - tipo da escola (EM, CIEP ou colégio)

d) coluna id
    - os ids da escola devem todos ser strings com 3 caracteres (Ex: '024')

e) coluna Lat e Lon
    - latitude e longitude devem conter apenas 5 casas decimais

- OBS.: aplicar lower para todas as colunas

### 3) tratamento subprefeitura:

a) coluna Nome:
    - strings não devem conter acentos
    - todas as strings devem estar em maiúsculo

- OBS.: aplicar lower para todas as colunas

In [12]:
material_didatico[material_didatico['id'] == 429]

     id Quantidade
38  429        NaN

In [16]:
import numpy as np

material_didatico[(material_didatico['Quantidade'] == np.NaN) & (material_didatico['id'] == 429)]

Empty DataFrame
Columns: [id, Quantidade]
Index: []

In [24]:
material_didatico.isna()

        id  Quantidade
0    False       False
1    False       False
2    False       False
3    False       False
4    False       False
..     ...         ...
146  False       False
147  False       False
148  False        True
149  False       False
150  False       False

[151 rows x 2 columns]

In [20]:
material_didatico[(material_didatico['id'] == 60) & (material_didatico['Quantidade'] == 'NaN')]

Empty DataFrame
Columns: [id, Quantidade]
Index: []